<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/terms/">Termos de Uso e Privacidade</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; LifeHisto 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="http://lifehisto.uservoice.com/">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="js/custom.js"></script>

</footer>
